## Задача 1

In [5]:
import pandas as pd

### Считать данные с помощью pandas
### Вывести на экран первые 5 строк

In [4]:
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

### Посмотреть на описание признаков и на их содержание

## Задача 2
Проведите первичный анализ данных

In [19]:
df.shape

(21613, 21)

### Изучите типы данных

In [20]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above       float64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

### Найдите количество пропущенных ячеек в данных

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

В базе 2 пропущенные записи действительного типа в столбце "sqft_above"

### Посчитайте основные статистики по всем признакам и поизучайте их

In [9]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21611.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.396095,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.128162,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [13]:
df.describe(include='object')

                   date
count             21613
unique              372
top     20140623T000000
freq                142

Похоже на базу объектов недвижимости с указанием цены, площадей, этажности и количества комнат.
А также указаны координаты

Есть некорректные данные в столбцах 'bathrooms', 'floors' так как по смыслу они должны быть целочисленными, а по факту использован действительный тип данных - требуется проверка и уточнение.

Не оппонятно назначение столбцов 'sqft_living15' и 'sqft_lot15', так как они по названиям дублируют 'sqft_living' и 'sqft_lot', но при этом сожержат либо идентичные данные, либо отличающиеся в то в большую, то в меньшую сторону.

## Задача 3

### В каком диапазоне изменяются стоимости недвижимости?

In [25]:
f'Стоимость меняется от {df["price"].min()} до {df["price"].max()}'

'Стоимость меняется от 75000.0 до 7700000.0'

### Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [31]:
f'Жилая площадь от всей площади жилого фонда составляет {df["sqft_living"].sum()/df["sqft_lot"].sum()}'

'Жилая площадь от всей площади жилого фонда составляет 0.1376781757959227'

In [32]:
df_living_lot = df["sqft_living"]/df["sqft_lot"]
f'Средняя доля жилой площади по объектам равна {df_living_lot.mean()}'

'Средняя доля жилой площади по объектам равна 0.3237447254204737'

### Как много домов с разными этажами в данных?

In [38]:
df[df['floors'] > 1]['floors'].count()

10933

### Насколько хорошие состояния у домов в данных?

In [41]:
df['condition'].value_counts(normalize=True)

3    0.649193
4    0.262759
5    0.078703
2    0.007958
1    0.001388
Name: condition, dtype: float64

Предположим, что использовалась пятибальная система оценок, в которой "1" соответствует худшей оценке, а "5" - лучшей.

In [58]:
f"Тогда неудовлетворительное качество имеют {round(df['condition'].value_counts(normalize=True)[[1, 2]].sum() * 100, 2)}%"

'Тогда неудовлетворительное качество имеют 0.93%'

In [59]:
f"Удовлетворительное качество имеют {round(df['condition'].value_counts(normalize=True)[[3]].sum() * 100, 2)}%"

'Удовлетворительное качество имеют 64.92%'

In [60]:
f"Хорошее и отличное качество имеют {round(df['condition'].value_counts(normalize=True)[[4, 5]].sum() * 100, 2)}%"

'Хорошее и отличное качество имеют 34.15%'

### Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [67]:
f"Первый дом построили в {df['yr_built'].min()} году"

'Первый дом построили в 1900 году'

In [68]:
f"Последний дом построили в {df['yr_built'].max()} году"

'Последний дом построили в 2015 году'

## Задача 4

### Сколько в среднем стоят дома, у которых 2 спальни?

In [70]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

### Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [71]:
df[df['price'] >= 600000]['sqft_lot'].mean()

20454.783537543197

### Как много домов коснулся ремонт?

In [72]:
df[df['yr_renovated'] > 0]['id'].count()

914

### Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [73]:
df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()

1488885.1175298805

## Задача 5

### Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [75]:
df1 = df[(df['waterfront'] == 1) & (df['bedrooms'] >= 3) & (df['sqft_basement'] > 0)]
df1

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2,...,9,2165.0,588,1953,0,98070,47.4041,-122.451,2680,72513
246,2025069065,20140929T000000,2400000.0,4,2.50,3650,8354,1.0,1,4,...,9,1830.0,1820,2000,0,98074,47.6338,-122.072,3120,18841
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600.0,1950,2002,0,98074,47.6053,-122.077,4550,19508
457,2122039094,20141126T000000,705000.0,3,3.00,1970,20978,2.0,1,3,...,9,1770.0,200,1980,0,98070,47.3844,-122.438,2280,75396
656,3760500116,20141120T000000,3070000.0,3,2.50,3930,55867,1.0,1,4,...,8,2330.0,1600,1957,0,98034,47.7022,-122.224,2730,26324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18914,9253900408,20150408T000000,1400000.0,3,2.75,3130,19530,1.0,1,4,...,8,1690.0,1440,1947,1984,98008,47.5895,-122.111,2980,18782
20325,518500480,20140811T000000,3000000.0,3,3.50,4410,10756,2.0,1,4,...,11,3430.0,980,2014,0,98056,47.5283,-122.205,3550,5634
20767,8043700105,20150417T000000,2300000.0,4,4.00,4360,8175,2.5,1,4,...,10,3940.0,420,2007,0,98008,47.5724,-122.104,2670,8525
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,11,2830.0,930,2014,0,98056,47.5285,-122.205,3560,5762
21576,9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,...,10,3540.0,1310,2007,0,98008,47.5943,-122.110,3470,18270

### Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [77]:
df2 = df[((df['view'] == df['view'].max()) | (df['waterfront'] == 1)) & (df['condition'] == df['condition'].max()) & (df['yr_built'] >= 1980)]
df2.sort_values('price')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
14682,7278100515,20140821T000000,1295000.0,2,2.50,2910,19449,2.0,1,4,...,9,1940.0,970,1985,0,98177,47.7729,-122.393,2540,23598
18991,7856400300,20140702T000000,1411600.0,2,2.50,3180,9400,2.0,0,4,...,10,2610.0,570,1985,0,98006,47.5617,-122.158,3760,9450
18992,7856400300,20150322T000000,1505000.0,2,2.50,3180,9400,2.0,0,4,...,10,2610.0,570,1985,0,98006,47.5617,-122.158,3760,9450
17312,3585901025,20140613T000000,1735000.0,3,2.50,4310,32093,1.5,0,4,...,10,2510.0,1800,1982,0,98177,47.7624,-122.380,3810,26400
11257,3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850.0,1000,1989,0,98034,47.7011,-122.244,3350,12210

In [78]:
f"Ценовой диапазон {df2['price'].min(), df2['price'].max()}"

'Ценовой диапазон (1295000.0, 3000000.0)'

### Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [81]:
df3 = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]
df3.sort_values('grade', ascending=False)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
18988,7399100210,20141126T000000,140000.0,3,1.50,1200,2002,2.0,0,0,...,8,1200.0,0,1966,0,98055,47.4659,-122.189,1270,1848
2589,5061300030,20140508T000000,134000.0,2,1.50,980,5000,2.0,0,0,...,7,980.0,0,1922,2003,98014,47.7076,-121.359,1040,5000
10105,5466310060,20150324T000000,139500.0,2,1.50,1230,1561,2.0,0,0,...,7,1230.0,0,1983,0,98042,47.3768,-122.149,1660,2243
15610,7614100080,20150211T000000,140000.0,3,1.75,1270,8991,2.0,0,0,...,7,1270.0,0,1981,0,98042,47.3563,-122.149,1270,8993
18332,9272202260,20140924T000000,130000.0,3,1.00,1200,7000,2.0,0,0,...,7,1200.0,0,1908,0,98116,47.5883,-122.384,3290,6000
18939,4239400300,20141129T000000,90000.0,3,1.00,980,2490,2.0,0,0,...,6,980.0,0,1969,0,98092,47.3170,-122.182,980,3154

In [82]:
f"Средняя оценка равна {df3['grade'].mean()}"

'Средняя оценка равна 7.0'